* {
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.sect-1 {
    padding: 32px 88px 10px 88px;
    display: flex;
    justify-content: space-between;

}

.descendant-1 {
    display: flex;
    gap: 9px;
    font-size: 20px;
}

h3 {
    color: #C6754D; 
}

.love {
    line-height: 29px;
    color: #C6754D;

}

.descendant-2 {
    border: none;
    background: none;
    cursor: pointer;
    font-size: 20px;
}

.hommie {
    padding-right: 40px;
}

.sect-2 {
    background: #F0CCBB;
    padding: 50px 0 30px 0;
}

img {
    width: 60%;
}

.img_1 {
    /* padding: 0 0px 0 100px; */
}

h2 {
    font-size: 60px;
}

.descendant-3 {
    display: flex;
    justify-content: space-between;
} 

.gen_1 {
    padding: 50px 87px 0 88px;
}

.gen_2 {
    padding: 14px 24px 14px 24px;
    margin-top: 40px;
    border-radius: 16px;
    background: #C6754D;
}

.read {
    color: #FFFFFF;
    cursor: pointer;
}

.invitation {
    color: #231F20;
    margin-top: 24px;
}

.sect-3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 88px;
}

h1 {
    font-family: Montaga;
    font-size: 60px;
}

.story {
    color: #231F20;
    font-size: 17px;
    font-weight: 300;
    line-height: 25px;
}

.img_2 {
    width: 100%;
}

.sect-5 {
    padding: 40px 0;
    background: #FCF9F7;
    text-align: center;
}