* {
    margin: 0;
    padding: 0;
}

body {
        font-family: "Montaga", serif;
        font-weight: 400;
        font-style: normal;
      
}

.sect-1 {
    padding: 32px 88px 10px 88px;
    display: flex;
    justify-content: space-between;

}

.descendant-1 {
    display: flex;
    gap: 9px;
    font-size: 20px;
    margin-bottom: 20px;
}

.img_1 {
    width:13px;
    height: 17px;
    padding-top: 3px;
}

.love {
    line-height: 25px;
    color: #C6754D;

}

.descendant-2 {
    border: none;
    background: none;
    cursor: pointer;
    font-size: 20px;
}

.hommie {
    padding-right: 40px;
}

.sect-2 {
    background: #F0CCBB;
    padding: 50px 0 30px 0;
}

img {
    width: 60%;
}


h2 {
    font-size: 60px;
}

.descendant-3 {
    display: flex;
    justify-content: space-between;
} 

.gen_1 {
    padding: 50px 87px 0 88px;
}

.gen_2 {
    padding: 14px 0 14px 24px;
    margin: 30px 70% 0 0;
    border-radius: 16px;
    background: #C6754D;
}

.read {
    color: #FFFFFF;
}

.invitation {
    color: #231F20;
    margin-top: 24px;
}

.sect-3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 88px;
}

h1 {
    font-family: Montaga;
    font-size: 60px;
}

.story {
    color: #231F20;
    font-size: 17px;
    font-weight: 300;
    line-height: 25px;
}

.img_3 {
    width: 100%;
}

a {
   color: black;
}

.sect-5 {
    display: flex;
    padding: 40px 0;
    margin: 50px auto 0 ;
    background: #FCF9F7;
    justify-content: center;
    gap: 10px;
}